In [4]:
import pandas as pd
from dbfread import DBF
import duckdb

In [5]:
filename = r"C:\Users\Murilo\Downloads\dbf\RDSP2301.dbf"

In [7]:
dbf = DBF(filename)
df = pd.DataFrame(iter(dbf))

In [13]:
s1 = pd.Series([1, 2, 3, 4, 5], dtype=pd.Int16Dtype)
s2 = pd.Series(["Murilo", "Matheus", "Graca", "Milton", "Mujica"], dtype=pd.StringDtype)
s3 = pd.Series([True, True, True, False, False], dtype=pd.BooleanDtype)
test_df = pd.DataFrame({
    "id": s1,
    "name": s2,
    "boolean": s3
})

test_df

C:\Users\Murilo\AppData\Local\Temp\ipykernel_13240\281237706.py:1: UserWarning: Instantiating Int16Dtype without any arguments.Pass a Int16Dtype instance to silence this warning.
  s1 = pd.Series([1, 2, 3, 4, 5], dtype=pd.Int16Dtype)
C:\Users\Murilo\AppData\Local\Temp\ipykernel_13240\281237706.py:2: UserWarning: Instantiating StringDtype without any arguments.Pass a StringDtype instance to silence this warning.
  s2 = pd.Series(["Murilo", "Matheus", "Graca", "Milton", "Mujica"], dtype=pd.StringDtype)
C:\Users\Murilo\AppData\Local\Temp\ipykernel_13240\281237706.py:3: UserWarning: Instantiating BooleanDtype without any arguments.Pass a BooleanDtype instance to silence this warning.
  s3 = pd.Series([True, True, True, False, False], dtype=pd.BooleanDtype)

   id     name  boolean
0   1   Murilo     True
1   2  Matheus     True
2   3    Graca     True
3   4   Milton    False
4   5   Mujica    False

In [23]:
with duckdb.connect(r"C:\Users\Murilo\Downloads\duckdb\test.db") as con:
    # result = con.sql("CREATE TABLE IF NOT EXISTS dbf AS SELECT * FROM test_df")
    result = con.execute(f"SELECT file FROM __import where table_name = ?", ["blabla"]).df()
    print(result)

       file
0  test.txt